# Ignore binaries
/bin

# Ignore generated manifests
/manifests/release

# Generated go-test coverage reports
/coverprofiles

# Ignore files created for testing
test-config.yaml
test.db
test-deployment.yaml

# Ignore e2e test outputs
/logs
tmp_fleetlock_image_fleetlock-e2e-*.tar
