# Default values for fleetlock.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Number of replicas
replicaCount: 1

# Container image configuration
image:
  repository: ghcr.io/heathcliff26/fleetlock
  tag: ""
  pullPolicy: IfNotPresent

# The port fleetlock listens on
port: 8080

# Configuration for fleetlock
config: |-
    ---
    logLevel: info
    storage:
      type: kubernetes
    groups:
      default:
        slots: 1
      control-plane:
        slots: 1
      compute:
        slots: 1

# This is for the secrets for pulling an image from a private repository.
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account.
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
podLabels: {}

# This is for setting the pod security context.
podSecurityContext: {}

# This is for setting the container security context.
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service.
service:
  # This sets the service type.
  type: ClusterIP
  # Port to expose the service on.
  port: 80

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: fleetlock.example.org
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: fleetlock-tls
  #    hosts:
  #      - fleetlock.example.org

# RBAC configuration
rbac:
  create: true

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: "/healthz"
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
  successThreshold: 1
  failureThreshold: 3
readinessProbe:
  httpGet:
    path: "/healthz"
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5

# Node selector
nodeSelector: {}

# Tolerations
tolerations: []

# Affinity
affinity: {}
